<nav class="navbar navbar-expand-sm text-black-50  sticky-top" style="background-color: #EFF1F3;">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo.png"  style="width: 50px;" class="d-inline-block align-middle" alt="logo de l'app">
        HR-Management
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
    <div class="navbar-text" *ngIf="user != null">[{{user}}]</div>

    <a class="nav-link" (click)="authServ.disconnect()" href="#" *ngIf="user != null">log out</a>
    </div>
    </div>
    </div>
    </nav>
    