<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo.png"  style="width: 50px;" class="d-inline-block align-middle" alt="logo de l'app">
        HR-Management
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
    <a class="nav-item nav-link" href="/employees">Employees</a>
    <a class="nav-link" href="/add-employee">Add Employee</a>
    <a class="nav-link" href="#">Recruitement</a>
    <a class="nav-link" href="#">User</a>

    </div>
    </div>
    </div>
    </nav>
    