<div class="container">
    <div class="card shadow mb-2">
    <div class="card-body">
    <h1 style="text-align:center;">Dashboard</h1><br>
    <div class="row">
    <div class="col-md-3">
     <div class="card card-stats text-white bg-danger">
     <div class="card-body ">
     <div class="row">
     <div class="col-5">
     <div class="icon-big text-center">
     <img src="/assets/img/employee.png" class="card-img-top" height="50" width="50">
     </div>
     </div>
     <div class="col-7 d-flex align-items-center">
     <div class="numbers">
     <p class="card-category">Employees</p>
     <h4 class="card-title">{{nbEmp}}</h4>
     </div>
     </div>
     </div>
     </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card card-stats text-white bg-primary">
     <div class="card-body ">
     <div class="row">
     <div class="col-5">
     <div class="icon-big text-center">
     <img src="/assets/img/department.png" class="card-img-top" height="50" width="50">
     </div>
     </div>
     <div class="col-7 d-flex align-items-center">
     <div class="numbers">
     <p class="card-category">Departments</p>
     <h4 class="card-title">{{nbDep}}</h4>
     </div>
     </div>
     </div>
     </div>
     </div>
    </div>
    <div class="col-md-3">
     <div class="card card-stats text-white bg-warning">
     <div class="card-body">
     <div class="row">
     <div class="col-5">
     <div class="icon-big text-center">
     <img src="/assets/img/programmer.png" class="card-img-top" height="50" width="50">
     </div>
     </div>
     <div class="col-7 d-flex align-items-center">
     <div class="numbers">
     <p class="card-category">Users</p>
     <h4 class="card-title">{{nbUsers}}</h4>
     </div>
     </div>
     </div>
     </div>
    </div>
</div>
<div class="col-md-3">
<div class="card card-stats text-white bg-success">
 <div class="card-body ">
 <div class="row">
 <div class="col-5">
 <div class="icon-big text-center">
 <img src="/assets/img/average.png" class="card-img-top" height="50" width="50">
 </div>
 </div>
 <div class="col-7 d-flex align-items-center">
 <div class="numbers">
 <p class="card-category">AvgSalary</p>
 <h4 class="card-title">{{avgSalary}}</h4>
 </div>
 </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>